.logo_channel_name{
    display: flex;
}
.logo_comment{
    height: 50px;
    width: 50px;
    border-radius: 100%;
    border: 2px solid black;
    text-align: center;
    font-size: 30px;
    color: bisque;
    background-color: black;
}
.channel_name{
    transform: translate(10px,15px);
    font-size: 20px;
}
.display_comment_container{
    transform: translate(10px,20px);
}
.comment{
    transform: translate(60px,-10px);
}
.upload_time{
    transform: translate(20px,17px);
}
#comment_dot{
    height: 2px;
    width: 2px;
    border: 1px solid black;
    transform: translate(17px,10px);
    background-color: black;
    border-radius: 100%;
}