
.side_container{
    /* border: 1px solid black; */
    width: 120px;
    position: absolute;
    transform: translate(-150px,10px);
    margin-left: 20px;
    background-color: rgba(0,0,0,0.7);
    text-align: center;
    height: 100%;
    text-overflow: ellipsis;
    text-decoration-style: dotted;
    text-decoration: dotted;
    
    
   
}
.text_{
    width: 100px;
    font-weight: bolder;
    font-family: sans-serif;
    color: white;
    margin-bottom: 19px;
    
    
    

}
.icon{
    color: white;
}